<!DOCTYPE html>
<html>
<head>
    <link href="/static/main.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <title>Eamon's Portfolio</title>
</head>
<body>
<div id='wrapper'>
    {% block extension %}
    {% endblock %}
</div>
</body>
</html>

